/*-------------------*\
    VARIABLES
\*-------------------*/

$bckgrnd:#aeaeae;
$colorclassic: #78909c;
@import url('https://fonts.googleapis.com/css?family=Niramit|Oswald');

a{text-decoration: none;color:inherit;}
li{list-style-type: none;}

/*-------------------*\
    HEADER
\*-------------------*/

.header{
    background-color: $bckgrnd;
    margin: -0.5em;
    padding: 0.8em;
    font-family: 'Niramit';
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_logo{
    font-size: 2em;
    color: $colorclassic;
    font-family: 'Oswald';
}

.header_logo:hover{
    text-shadow: 1px 1px 2px darken($bckgrnd, 20% );
}


/*-------------------*\
    NAV
\*-------------------*/

.menu li{
    display : inline;
	padding : 0 0.5em;
}

.menu a:hover{
    text-shadow: 1px 1px 1px black;
}
/*-------------------*\
    CONTAINER
\*-------------------*/

/*-------------------*\
    FOOTER
\*-------------------*/